.container {
    width: 600px;
    height: 380px;
    background: url(image.jpg);
    margin: 0px;
    position: relative;
}

.circle-container div {
    width: 16px;
    height: 16px;
    background-color: black;
    border-radius: 50px;
    border: 3px solid white;
    float: left;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
}

.circle-container {
    position: relative;
    float: left;
    top: 330px;
    margin-left: 225px;
}

#active {
    background-color: red;
    box-shadow: 0px 0px 10px 1px #fff;
}